* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    max-width: 390px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    max-width: 390px;
    margin: 0 auto;
}

.icon {
    font-size: 17px;
    font-weight: bold;
    padding: 7px 14px;
    background-color: #f5de4c;
    border-radius: 8px;
    display: inline-block;
    margin: 4px;
}

.search input {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 210px;
    background-color: #f9f9f9;
    display: inline;
}

.main_container {
    margin-top: 60px;
    padding: 16px;
}

.main_container h1 {
    font-size: 24px;
    font-weight: 650;
}

.year {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 650;
    display: block;
    padding: 8px;
    border-bottom: 1px solid #4e4e4e;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    margin-bottom: 8px;
    border-radius: 16px;
    background: #ffffff;
    border-left: 4px solid #f5de4c;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(0.98);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.card:active{
    background: #f5f5f5;
}

.card_left {
    flex: 1;
    margin-right: 12px;
}

.card_title {
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 17px;
    line-height: 1.2;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subtitle {
    color: #555558;
    font-size: 15px;
}

.card_dates {
    color: #6c6c6e;
    font-size: 15px;
    white-space: nowrap;
}

.bottom_navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-bottom: none;
    border-top: 1px solid #e5e5ea;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    max-width: 390px;
    margin: 0 auto;
}

.bottom_navigation button {
    background: none;
    border: none;
}

.nav svg,
.nav_active svg {
    fill: #000000;
    
}

.nav{
    background: none;
    border: none;
    padding: 4px;
}

.nav:hover{
    background-color:#eeeeee;
    border: none;
    border-radius: 6px;
    padding: 4px;
}

.nav:active{
    background-color:#d1d1d1;
    border: none;
    border-radius: 6px;
    padding: 4px;
}

.nav_active {
    color: #007aff;
}

.nav_active svg {
    fill: #007aff;
}

.hero {
    position: relative;
    height: 20vh;
    margin-top: 58px;
}

.hero_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-color: #4e4e4e;
}

.overlay_block {
    position: absolute;
    bottom: -35px;
    left: 40px;
    right: 40px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.overlay_title {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overlay_date {
    font-size: 17px;
    color: #666;
    text-align: left;
    margin: 0;
}

.expenses {
    padding: 0 16px;
}

.expenses_header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.expenses_title {
    margin-top: 4px;
    text-align: left;
    font-size: 21px;
    font-weight: 500;
    color: #000000;
}

.filter_icon {
    margin-top: 6px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
}

.filter_icon:hover {
    background: #e5e5e5;
}

.filter_icon:active {
    background: #e5e5e5;
}

.expenses_filters {
    display: flex;
    gap: 6px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

.filter_item {
    border: none;
    background: #ffffff;
    padding: 4px;
    border-radius: 12px;
    transition: 0.2s;
}

.filter_item:hover {
    background: #e5e5e5;
}

.filter_item.active {
    background: #e5e5e5;
}

.expense_item {
    margin-bottom: 4px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
}

.expense_item_main {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    justify-content: space-between;
}

.expense_item_header{
    align-items: center;
    gap: 6px;
    min-width: 0; 
    flex: 1;
    display: flex;
}

.expenses_item_number {
    font-size: 17px;
    font-weight: 500;
    min-width: 16px;
    flex-shrink: 0;
}

.expense_item_name {
    font-size: 17px;
    font-weight: 500;
    flex: 1;     
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expense_item_date {
    font-size: 14px;
    color: #525252;
    font-weight: 400;
}

.expense_item_cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

.expense_item_amount {
    font-size: 1rem;
    font-weight: 600;
    color: #4a4a4a;

}

.expense_item_receipt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
}

.expenses_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-top: 1px solid #e5e5ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    max-width: 390px;
    margin: 0 auto;
}

.my_expenses {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f5de4c;
    padding: 8px 20px;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 12px;
}

.profile_header {
    display: flex;
    align-items: center;
    padding: 30px 16px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    position: relative;
}

.profile_title {
    position: absolute;
    left: 40%;
    font-size: 18px;
    font-weight: 600;
}

.profile_block {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.profile_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: auto;
    border: 2px solid #000000;
}

.profile_name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.profile_item {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.status {
    margin-left: auto;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f5de4c;
}

.profile_content {
    margin: 8px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.logreg_title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20%;
    margin-bottom: 20px;
}


.input_field {
    padding: 0 16px;
    width: 100%;
    margin-bottom: 16px;
}

.input_field input {
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 2px solid #878787;
    font-size: 14px;
    outline: none;
}

.add_exp_title {
    position: absolute;
    left: 30%;
    font-size: 18px;
    font-weight: 600;
}

.continue_button {
    color: #000000;
    margin: 16px;
    width: 360px;
    background-color: #f5de4c;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
    border: none;
}

.continue_button:hover{
    background: #ffcd33;
}

.continue_button:active{
    background: #fab619;
}

.login_link {
    margin-top: 15px;
    text-align: center;
}

.login_link a {
    color: #007aff;
    font-weight: 500;
}

.login_link a:hover{
    color: #11cbff;
}

.login_link a:active{
    color: #680adb;
}

.header_logreg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
}

.forgot_pass {
    text-align: center;
    margin-top: 10px;
}

.forgot_pass a {
    color: #007aff;
    font-weight: 500;
}

.add_exp_container {
    padding: 80px 0;
}

.file_upload {
    padding: 4px 16px;
}

.camera_btn{
    margin-top: 4px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 4px;
}

.camera_btn:hover{
    background-color:#eeeeee;
    border: none;
    border-radius: 6px;
    padding: 4px;
}

.camera_btn:active{
    background-color:#d1d1d1;
    border: none;
    border-radius: 6px;
    padding: 4px;
}

.file_upload_input {
    display: none;
}

.create_travel_container {
    padding: 20px 16px;
    min-height: 100vh;
}

.create_travel_title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

.image_upload_block {
    margin: 15px;
    width: 360px;
    height: 160px;
    background: #c7c7c7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create_button {
    color: #000000;
    margin: 15px;
    width: 360px;
    background-color: #f5de4c;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    border: none;
}

.create_button:hover{
    background: #ffcd33;
}

.create_button:active{
    background: #fab619;
}

.description_block textarea {
    width: 360px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.create_travel_header {
    align-items: center;
    padding: 0 16px;
    border-bottom: 2px solid #ddd;
    position: relative;
}

.hello_conteiner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 390px;
    width: 100%;
}

.hello_text {
    margin-top: 55%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-left: 65px;
    text-align: center;
    max-width: 260px;
}

.hello_button {
    color: #000000;
    margin: 15px;
    width: 360px;
    background-color: #f5de4c;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    border: none;
}

.hello_button:hover{
    background: #ffcd33;
}

.hello_button:active{
    background: #fab619;
}

.password_field {
    position: relative;
    padding: 0 16px;
    width: 100%;
    margin-bottom: 16px;
}

.password_field input {
    width: 100%;
    padding: 14px 40px 14px 14px;
    border: none;
    border-bottom: 2px solid #878787;
    font-size: 14px;
    outline: none;
}

.vis_password {
    position: absolute;
    right: 16px;
    top: 15%;
    background: none;
    border: none;
    font-size: 16px;
    padding: 5px;
    color: #666;
}

.participants_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    border: 2px solid #dddddd;
    text-decoration: none;
    color: #000;
}

.participants_left {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.participants_title {
    font-size: 17px;
    font-weight: 600;
    margin-top: 2px;
}

.participants_avatars {
    display: flex;
    align-items: center;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #d1d1d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -6px;
    border: 2px solid #f0f0f0;
}

.participants_share {
    background-color: #f5de4c;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
    color:#000;
}

.participants_share:hover{
    background: #ffcd33;
}

.participants_share:active{
    background: #fab619;
}

.no_travel_conteiner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 390px;
    width: 100%;
}

.no_travel_text {
    margin-top: 50%;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-left: 45px;
    text-align: center;
    max-width: 300px;
}

.no_travel_textadd {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 25px;
    text-align: center;
    max-width: 340px;
}

.download,
.delete_travel {
    border: none;
    cursor: pointer;
    background: none;
}

.expense_item_actions {
    display: flex;
    gap: 6px;
    margin-left: 8px;
}

.expense_edit,
.expense_delete {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.travel_actions{
    display: flex;
    gap: 8px;
}

.save_btn{
    color: #000000;
    width: 180px;
    background-color: #f5de4c;
    padding: 10px 14px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    border: none;
}

.cancel_btn{
   color: #000000;
    width: 180px;
    background-color: #afafafae;
    padding: 10px 14px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    border: none; 
}

.edit_exp_actions{
    margin-left: 14px;
}

.file_upload_label {
    font-size: 14px;
    padding: 6px 0;
    display: inline-block;
    font-weight: 500;
}






        .scan_header {
            display: flex;
            background: #e4e4e4;
            color: rgb(32, 32, 32);
            padding: 12px 16px;
            border-radius: 8px;
            margin-bottom: 14px;
            position: relative;
            align-items: center;
            justify-content: center;
            
        }
        
        .scan_header h1 {
            font-size: 22px;
            margin-bottom: 5px;
        }
        
        .scan_header p {
            font-size: 14px;
        }
        
        .instructions {
            padding-left: 8px;
            margin-bottom: 16px;
        }

        .scanner-container {
            position: relative;
            width: 100%;
            margin: 4px auto;
            border: 2px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            background: #515151;
        }
        
        #scanner-video {
            width: 100%;
            display: block;
            min-height: 280px;
        }
        
        .scanner-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 70%;
            border: 2px solid rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: 0 0 0 800px rgba(0, 0, 0, 0.5);
            pointer-events: none;
        }
        
        .scan_status {
            padding: 10px;
            text-align: center;
            margin-bottom: 10px;
            border-radius: 5px;
            background: #e2e3e5;
        }

        .controls {
            text-align: center;
            margin: 14px 0;
        }
        
        .start-btn, .stop-btn{
            padding: 10px 20px;
            margin: 5px;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #f5de4c;
            transition: background 0.3s;
            color:#000;
        }
        
        .start-btn:hover, .stop-btn:hover {
            background: #e8ca0b;
        }
        
        .start-btn:disabled, .stop-btn:disabled {
            background-color: #e2e3e5;
            cursor: not-allowed;
            color:#373737
        }
        
        #result {
            margin-top: 20px;
            padding: 15px;
            border-radius: 5px;
            display: none;
        }
        
        .success {
            background: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }
        
        .error {
            background: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }
        
        .info {
            background: #d1ecf1;
            color: #0c5460;
            border: 1px solid #bee5eb;
        }
        
        
        
        .back-link {
            display: inline-block;
            margin-top: 15px;
            color: #007bff;
            text-decoration: none;
        }
        
        .back-link:hover {
            text-decoration: underline;
        }

        .back-btn{
            position: absolute;
            left: 16px;
        }

        .header-content {
            text-align: center;
        }

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); 
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #ffffff;
    margin: 10px auto;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    max-height: 90vh;
    overflow-y: auto; 
    animation: slideIn 0.3s ease; 
}

.modal .close {
    position: absolute;
    right: 16px;  
    top: 16px;   
    font-size: 26px;
    font-weight: 400;
    color: #999;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s;
    z-index: 10;
}

.modal .close:hover{
    color: #000;
}

.modal .close:active{
    color: #000;
}

.modal-content h3 {
    margin: 0 0 8px 0;
    font-size: 22px;
    font-weight: 600;
}

#editExpenseForm input[type="text"],
#editExpenseForm input[type="number"],
#editExpenseForm input[type="date"],
#editExpenseForm textarea {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #e9e9ed;
    border-radius: 8px;
    font-size: 14px;
    background-color: #ffffff;
    transition: border-color 0.15s;
    outline: none;
}

.form-group label{
    font-size: 16px;
    color: #535353;
}

.participants-section {
    margin: 8px 0;
    padding: 0;
    border-radius: 0;
}

.participants-section label {
    font-size: 16px;
    font-weight: 500;
    color: #535353;
    margin-bottom: 6px;
    display: block;
}

.participant-item {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    border-bottom: 1px solid #e9e9ed;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.btn-save, .btn-cancel {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.15s;
    color:#000;
}

.btn-delete {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.15s;
    margin-top: 2px;
    color: #000;
}

.btn-save {
    /* background-color: #19c8258e; */
    background-color: #f5de4c;
    color: #000;
    box-shadow: 0 2px 8px rgba(245, 222, 76, 0.3);
}

.btn-save:hover{
    background: #ffcd33;
}

.btn-save:active{
    background: #fab619;
}

/* .btn-save:hover{
    background: #19c825c4;
}

.btn-save:active{
    background: #17e325;
} */

.btn-cancel {
    background-color:#efefef;
}

.btn-cancel:hover {
    background-color: #dcdcdc;
}

.btn-cancel:active {
    background-color: #cdcdcd;
}

.btn-delete {
    background-color: #fac6c6;
}

.btn-delete:hover {
    background-color: #f68787;
}

.btn-delete:active {
    background-color: #fd4f4f;
}

.group-top{
    display: flex;
    justify-content: space-between;
    gap:4px;
}

.travel_part_add_container{
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5); 
    z-index: 1000;
}

.travel_part_add{
    background: white; 
    width: 90%; 
    max-width: 500px; 
    margin: 50px auto; 
    padding: 20px; 
    border-radius: 10px;
}

.part_add_input{
    margin: 15px 0;
    
}

.part_add_input input{
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 8px;
}

.searchResult{
    margin-top: 10px; max-height: 200px; overflow-y: auto;
}

.close_part{
    margin: 10px 0 0 0; background: #f5de4c; padding: 8px 20px; border: none; border-radius: 6px; font-size: 14px; color:#000;
}

.close_part:hover{
    background: #ffcd33;
}

.close_part:active{
    background: #fab619;
}

.invite{
    background: #f5de4c; border: none; padding: 8px 10px; border-radius: 6px; cursor: pointer; color: #000; font-size: 13px;
}

.invite:hover{
    background: #ffcd33;
}

.invite:active{
    background: #fab619;
}

.exp_part_add{
    width: 100%; padding: 10px; margin: 10px 0; background: #f5de4c; border: none; border-radius: 8px; cursor: pointer;
}

.exp_part_add:hover{
    background: #ffcd33;
}

.exp_part_add:active{
    background: #fab619;
}
/* ===== СТАТУСЫ СООБЩЕНИЙ ===== */
.chat-status {
  transition: color 0.3s;
}

.chat-status[data-status="delivered"] {
  color: rgba(255,255,255,0.9);
}

.chat-status[data-status="read"] {
  color: #4ade80; /* Зелёный для прочитанных */
  font-weight: bold;
}

/* ===== МОБИЛЬНАЯ АДАПТАЦИЯ ЧАТА ===== */
@media (max-width: 768px) {
  /* Модальное окно на весь экран */
  #chatModal {
    padding: 0;
  }
  
  #chatModal .chat-modal-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
  }
  
  /* Поле ввода фиксировано снизу */
  .chat-input-area {
    padding: 12px;
    gap: 8px;
  }
  
  #chatTextInput {
    min-height: 44px; /* Удобно для пальца */
    font-size: 16px; /* Предотвращает зум на iOS */
  }
  
  /* Статусы сообщений чуть крупнее */
  .chat-status {
    font-size: 16px;
    margin-left: 4px;
  }
  
  /* Уведомления на мобильных */
  #chatNotifications {
    right: 10px;
    left: 10px;
    bottom: 80px; /* Над полем ввода */
  }
  
  .chat-notification {
    width: auto;
    max-width: 100%;
  }
}

/* iOS Safari фикс: предотвращаем зум при фокусе */
@supports (-webkit-touch-callout: none) {
  #chatTextInput {
    font-size: 16px !important;
  }
}