* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    max-width: 390px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    max-width: 390px;
    margin: 0 auto;
}

.icon {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #f5de4c;
    border-radius: 5px;
    display: inline;
}

.search input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 200px;
    background-color: #f9f9f9;
}

.main_container {
    padding: 16px;
}

.main_container h1 {
    font-size: 22px;
    font-weight: 600;
}

.year {
    color: #000000;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    padding: 8px;
    border-bottom: 1px solid #4e4e4e;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 12px;
    background: #ffffff;
}

.card_left {
    flex: 1;
    margin-right: 12px;
}

.card_title {
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 17px;
    line-height: 1.2;
}

.subtitle {
    color: #555558;
    font-size: 15px;
}

.card_dates {
    color: #6c6c6e;
    font-size: 15px;
    white-space: nowrap;
}

.bottom_navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-bottom: none;
    border-top: 1px solid #e5e5ea;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    max-width: 390px;
    margin: 0 auto;
}

.bottom_navigation button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.nav svg,
.nav_active svg {
    fill: #000000;
}

.nav_active {
    color: #007aff;
}

.nav_active svg {
    fill: #007aff;
}

.hero {
    position: relative;
    height: 20vh;
}

.hero_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay_block {
    position: absolute;
    bottom: -40px;
    left: 50px;
    right: 50px;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
}

.overlay_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.overlay_date {
    font-size: 1rem;
    color: #666;
    text-align: left;
    margin: 0;
}

.expenses {
    padding: 0 16px;
}

.expenses_header {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.expenses_title {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
}

.filter_icon{
    margin-top: 6px;
    height: 30px;
    background-color: #ffffff;
    border: none;
}

.expenses_filters {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 8px;
    border-bottom: 1px solid #000000;
}

.filter_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.expenses_list {
    margin-top: 15px;
}

.expense_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.expense_item_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.expense_item_header {
    display: flex;
    align-items: center;
    gap: 8px;

}

.expenses_item_number {
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
    min-width: 20px;
}

.expense_item_name {
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
    line-height: 1.4;
}

.expense_item_date {
    font-size: 0.85rem;
    color: #525252;
    font-weight: 400;
    margin-left: 16px;
}

.expense_item_cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}

.expense_item_amount {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;

}

.expense_item_receipt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    border: none;
    background-color: #ffffff;
}

.expenses_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-top: 1px solid #e5e5ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    max-width: 390px;
    margin: 0 auto;
}

.my_expenses {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f5de4c;
    padding: 8px 20px;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 25px;
}

.profile_header {
    display: flex;
    align-items: center;
    padding: 30px 16px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    position: relative;
}

.profile_title {
    position: absolute;
    left: 40%;
    font-size: 18px;
    font-weight: 600;
}

.profile_block {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.profile_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: auto;
    border: 2px solid #000000;
}

.profile_name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.profile_item {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.status {
    margin-left: auto;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f5de4c;
}

.profile_content {
    margin: 8px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.logreg_title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20%;
    margin-bottom: 20px;
}


.input_field {
    padding: 0 16px;
    width: 100%;
    margin-bottom: 16px;
    
}

.input_field input {
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 2px solid #878787;
    font-size: 14px;
    outline: none;
}

.add_exp_title{
    position: absolute;
    left: 30%;
    font-size: 18px;
    font-weight: 600;
}

.continue_button {
    color:#000000;
    margin: 16px;
    width: 360px;
    background-color: #f5de4c;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
    border: none;
}

.login_link {
    margin-top: 15px;
    text-align: center;
}

.login_link a {
    color: #007aff;
    font-weight: 500;
}

.header_logreg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
}

.forgot_pass {
    text-align: center;
    margin-top: 10px;
}

.forgot_pass a {
    color: #007aff;
    font-weight: 500;
}

.add_exp_container{
    padding: 10% 0;
}

.file_upload {
    padding: 6px 16px;
    font-size: 14px;
}

.file_upload_label {
    font-size: 14px;
    padding: 10px 0;
    display: inline-block;
    font-weight: 500;
}

.file_upload_input {
    display: none;
}

.create_travel_container{
    padding: 20px 16px;
    min-height: 100vh;
}

.create_travel_title{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

.image_upload_block{
    margin: 15px;
    width: 360px;
    height: 160px;
    background: #c7c7c7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create_button {
    color:#000000;
    margin: 15px;
    width: 360px;
    background-color: #f5de4c;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    border: none;
}

.description_block textarea{
    width: 360px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.create_travel_header{
    align-items: center;
    padding: 0 16px;
    border-bottom: 2px solid #ddd;
    position: relative;
}

.hello_conteiner{
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 390px;
    width: 100%;
}

.hello_text{
    margin-top: 45%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-left: 65px;
    text-align: center;
    max-width: 260px;
}

.hello_button{
    color:#000000;
    margin: 15px;
    width: 360px;
    background-color: #f5de4c;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    border: none;
}